<div class="row`" *ngIf="!loggedIn">
    <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="col-md-4">
            <input class="form-control me-sm-2" name="username" placeholder="Username" required
                [(ngModel)]="user.username">
        </div>
        <div class="col-md-4">
            <input class="form-control me-sm-2" type="password" name="password" placeholder="Password" required
                [(ngModel)]="user.password">
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary my-2 my-lg-0 log-in-button">{{logInText}}</button>
        </div>
    </form>
</div>
<div class="row" *ngIf="loggedIn">
    <div class="col-md-6" style="text-align: right;">{{welcome + " " + username}} </div>
    <div class="col-md-6"><a (click)="logOut()" style="color: red;">{{logOutText}}</a></div>
</div>