<div class="row">
    <div class="modal" [ngClass]="{'my-modal': showModal}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Game</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="hideAddGameModal()">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <app-add-game (hideModal)="hideAddGameModal()" (fetchGames)="fetchGames()"></app-add-game>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-success" (click)="showAddGameModal()">Add New Game</button>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Game Title</th>
                    <th scope="col">Publisher</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of games; let i = index" [ngClass]="getRowClass(i)">
                    <th scope="row">
                        <span *ngIf="!game.editName" (click)="showEditName(game)">{{game.name}}</span>
                        <form #nameForm="ngForm" (ngSubmit)="editGameName(nameForm, game)" *ngIf="game.editName">
                            <input name="name" [(ngModel)]="editGamebody.name">
                            <button type="button" class="btn btn-danger" (click)="hideEditName(game)">Cancel</button>
                            <button class="btn btn-primary">Edit</button>
                        </form>
                    </th>
                    <th scope="row">
                        <span *ngIf="!game.editPublisher" (click)="showEditPublisher(game)">{{game.publisher}}</span>
                        <form #publisherForm="ngForm" (ngSubmit)="editGamePublisher(publisherForm, game)"
                            *ngIf="game.editPublisher">
                            <input name="publisher" [(ngModel)]="editGamebody.publisher">
                            <button type="button" class="btn btn-danger" (click)="hideEditPublisher(game)">Cancel</button>
                            <button class="btn btn-primary">Edit</button>
                        </form>
                    </th>
                    <td><button type="button" class="btn btn-danger" (click)="deleteGame(game._id)" *ngIf="loggedIn">Delete</button></td>
                    <td><button type="button" class="btn btn-primary" [routerLink]="['/game', game._id]">View</button></td>
                    <td><button type="button" class="btn btn-primary" [routerLink]="['/edit-game', game._id]" *ngIf="loggedIn">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <ul class="pagination pagination-lg">
            <li class="page-item" [ngClass]="{'disabled': currentPage == 0}">
                <a class="page-link" (click)="getPrevious()">&laquo;</a>
            </li>
            <li *ngFor="let page of pages" [ngClass]="{'disabled': page == (currentPage + 1)}">
                <a class="page-link" (click)="getPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled':currentPage == totalPages}">
                <a class="page-link" (click)="getNext()">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<!-- <div>
    <button type="button" class="btn btn-success" (click)="showAddGameModal()">Add New Game</button>
    <div class="register">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div class="form-group">
                <input type="text"  class="form-control " id="inputValid" formControlName="title" placeholder="Game Title">
            </div>
        </form>
    </div>
</div> -->