<div class="form-wrapper">
    <form #platForm="ngForm" (ngSubmit)="addPlatform(platForm)">
        <label class="form-label mt-1">{{addNewPlatform}}</label>
        <div class="form-group">
            <label class="form-label mt-4">{{platformName}}</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="platformBody.name">
        </div>
        <div class="form-group">
            <label class="form-label mt-4">{{releasedYear}}</label>
            <input type="text" name="year" class="form-control" type="number" [(ngModel)]="platformBody.year">
        </div>
        <div class="form-group">
            <button class="btn btn-danger my-2 my-lg-0" type="button" (click)="hideAddPlatformBody()">{{cancel}}</button>
            <button class="btn btn-secondary my-2 my-lg-0">{{addPlatformText}}</button>
        </div>
    </form>
</div>