  <div class="container-fluid header-container">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-1">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/images/android-chrome-512x512.png" height="50" alt="MIU Compro" />
        </a>
      </div> -->
      <div class=" row col-md-7 nav-bar">
        <div class="col-md-1">
          <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/android-chrome-512x512.png" height="50" alt="MIU Compro" />
          </a>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <a routerLink="/" [ngClass]="getClass('/')">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li >
              <a routerLink="/games" [ngClass]="getClass('/games')">Games</a>
            </li>
            <li  *ngIf="loggedIn">
              <a routerLink="/profile" [ngClass]="getClass('/profile')">Profile</a>
            </li>
            <li  *ngIf="!loggedIn">
              <a routerLink="/register" [ngClass]="getClass('/register')">Register</a>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="col-md-5">
        <app-login></app-login>
      </div>
      <!-- <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <img src="./assets/images/android-chrome-512x512.png" height="50" alt="MIU Compro" />
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/games">Games</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
              <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item" *ngIf="!loggedIn">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
          </ul>
  
          <app-login></app-login>
        </div>
      </div> -->
    </div>
  </div>
</div>
