<div class="col-md-4 component-wrapper">
    <form #editGameForm="ngForm" (ngSubmit)="editGame(editGameForm)">
        <div class="form-group">
            <label class="form-label mt-4">{{gameTitle}}</label>
            <input type="text"  class="form-control" name="name" [(ngModel)]="game.name">
        </div>
        <div class="form-group">
            <label class="form-label mt-4">{{publisher}}</label>
            <input type="text"  class="form-control" name="publisher" [(ngModel)]="game.publisher">
        </div>
        <div class="form-group form-error">
            <label class="form-label mt-4">{{formError}}</label>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary my-2 my-lg-0 log-in-button">{{editGameText}}</button>
        </div>
    </form>
    
</div>