<div class="modal-body">
    <p>Modal body text goes here.</p>
    <form [formGroup]="addGameForm" (ngSubmit)="addGame()">
        <table>
            <tr>
                <td>Game name: </td>
                <td><input formControlName="name"><br></td>
            </tr>
            <tr>
                <td>Publisher: </td>
                <td><input formControlName="publisher"><br></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button></td>
                <td><button type="submit" class="btn btn-primary">Add Game</button></td>
            </tr>
        </table>
    </form>
</div>