<div class="modal-body">
    <form [formGroup]="addGameForm" (ngSubmit)="addGame()">
        <div class="form-group">
            <label class="form-label mt-4" >{{gameTitle}}</label>
            <input type="text"  class="form-control "  formControlName="name">
        </div>
        <div class="form-group">
            <label class="form-label mt-4" >{{publisher}}</label>
            <input type="text"  class="form-control"  formControlName="publisher">
        </div>
        <div class="form-group form-error">
            <label class="form-label mt-4">{{formError}}</label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger my-2 my-lg-0 log-in-button" (click)="closeModal()">{{cancel}}</button>
            <button class="btn btn-secondary my-2 my-lg-0 log-in-button">{{addGameText}}</button>
        </div>
    </form>
</div>