<h4>Game Title: {{game.name}}</h4>
<h4>Publisher: {{game.publisher}}</h4>
<ng-container *ngIf="editFlag">
    <app-edit-platform [gameId]="game._id" [platform]="editPlatform" (toggleView)="hideEdit()" (reloadPlatforms)="fetchPlatforms()"></app-edit-platform>
</ng-container>
<ng-container *ngIf="!editFlag">
    <table>
        <tr *ngFor="let platform of game.platforms">
            <td>{{platform.name}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{platform.year}}</td>
            <td><button (click)="deletePlatform(platform._id)">Delete</button></td>
            <td><button (click)="showEdit(platform)">Edit</button></td>
        </tr>
    </table>
</ng-container>
<div *ngIf="!addGameVisible && !editFlag">
    <button (click)="toggleAddPlatformVisibility(true)">Add New Platform</button>
</div>
<div *ngIf="addGameVisible">
    <app-add-platform [gameId]="game._id" (reloadPlatforms)="fetchPlatforms()" (hideAddPlatform)="toggleAddPlatformVisibility($event)"></app-add-platform>
</div>