<div class="col-md-9 component-wrapper">
    {{gameTitle}}<h4> {{game.name}}</h4>
    {{publisher}}<h4>{{game.publisher}}</h4>
    <ng-container *ngIf="editPlatformFlag">
        <app-edit-platform [gameId]="game._id" [platform]="editPlatform" (toggleView)="hideEdit()"
            (reloadPlatforms)="fetchPlatforms()"></app-edit-platform>
    </ng-container>
    <app-platforms [editFlag]="editPlatformFlag" [platforms]="game.platforms" (fetchPlatformsEvent)="fetchPlatforms()"
        (showEditEvent)="showEdit($event)" *ngIf="!editPlatformFlag"></app-platforms>
</div>