.my-modal{
    display: block;
}

.table-container {
    min-height: 330px;
    margin: 20px 50px
}
.log-in-button {
    width: 135px;
}
:host {
    height: 100vh
}
.home {
    /* position: relative;
    min-height: 95vh; */
    height: auto !important; /* real browsers */
    min-height: 90vh; 
    background-image: url('https://wallpapercrafter.com/th800/106306-PlayStation-2-collage-video-games-PlayStation.jpg');
}

.register {
    width: 50%;
    margin: auto;
}