.my-modal{
    display: block;
}

.table-container {
    min-height: 330px;
    margin-top: 15px;
    /* margin: 20px 50px */
}
.log-in-button {
    width: 135px;
}
:host {
    height: 100vh
}
.home {
    /* position: relative;
    min-height: 95vh; */
    height: auto !important; /* real browsers */
    min-height: 90vh; 
    background-image: url('https://wallpapercrafter.com/th800/106306-PlayStation-2-collage-video-games-PlayStation.jpg');
}

.register {
    width: 50%;
    margin: auto;
    background-color: lightblue;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
}

.header-container{
    background-color: #154c79
}
.nav-bar ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px
}

.nav-bar a{
    text-decoration: none;
    color: azure;
}

.active {
    color: lightgreen !important;
}
.body-wrapper {
    display: block;
    min-height: 72.5vh; 
    width: 100%;
    /* background-size: 500px 700px; */
    background-image: url('https://wallpapercrafter.com/th800/106306-PlayStation-2-collage-video-games-PlayStation.jpg');
}

.component-wrapper {
    margin: 30px auto;
    background: darkslategray;
    min-height: 60vh;
    padding: 20px;;
}

.form-error {
    color: #FF2400;
}

.platforms-wrapper {
    margin-top: 15px;
}